@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.App {
  font-family: Inter, Helvetica, sans-serif;
  font-family: sans-serif;
  text-align: left;
  color: #000;
  max-width: 700px;
}

h1 {
  font-size: 20px;
}

button, .btn {
  font-size: 16px;
  padding: 12px 24px;
  background: #3d37da;
  border: none;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

input, select {
  color: #000;
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
}

.label {
  margin-bottom: 4px;
}

.tab {
  font-size: 13px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  padding: 6px 8px;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

.tab.is-active {
  background: #3d37da;
  color: #fff;
}

.tab-panel {
  display: none;
}

.tab-panel.is-active {
  display: block;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d37da;
  color: white;
}

.delete-modal {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.delete-modal.is-active {
  display: flex;
}

.delete-modal_wrapper {
  background-color: #fff;
  padding: 24px;
  max-width: 260px;
}

.delete-modal_button {
  padding: 12px 24px;
  background: #3d37da;
  color: #fff;
}

.delete-modal_button.is-cancel {
  background: #ddd;
  color: #000;
}